@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&display=swap');


* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: floralwhite;
}



/*----------Estilos base----------*/

img {
    display: block;
    width: 100%;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    margin: auto;
}
.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column {
    width: 100%;
}

/*----------Estilos Header----------*/

.main-header {
    width: 100%;
}
.logo {
    font-size: 1.8em;
    color: indianred;
    padding: 10px;
    font-family: 'Courgette', cursive;
    font-weight: 100;
}
.main-header__contactInfo__phone {
    background: indianred;
    color: white;
    margin: 0 auto;
    padding: 0px;
}
.main-header__contactInfo__address {
    padding: -10px;
    margin: 0;
}
.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}

/*----------Estilos del Menú----------*/

.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu {
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}
.social-icon {
    display: flex;
    justify-content: space-between;
}
.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link {
    text-decoration: none;
}
.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .70);
    padding: 0;
    margin: 50;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}
.menu__link {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu__link:hover {
    background: indianred;
}
.menu__link--select {
    background: indianred;
}
.mostrar {
    height: 196px;
}





/*----------Estilos principales----------*/

.group--color .container {
    background: indianred;
    color: floralwhite;
    padding: 40px;
    text-align: left;
}
.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Courgette', cursive;
    font-weight: 100;
}
.column__title {
    font-size: 1.3em;
    font-style: bold;
    text-align: left;
}
.main__about__description .column:nth-child(2) {
    padding: 10px;
}
.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: indianred;
    color: white;
    padding: 10px;
    margin: 10px auto;
}
.group__title {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}
.today-special .column {
    margin-bottom: 30px;
    text-align: center;
}
.today-special__img {
    margin: auto;
    max-width: 450px;
}
.today-special__title {
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.today-special__price {
    font-size: 1.5em;
    color: indianred;
    font-weight: bold;
}





.Nosotros {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 4.0em;
    color: indianred;
    margin-top: 40px;
}


.h3 {
    color: indianred;
    text-align: center;
    font-size: 1.4em;
    margin: 2%;
    
}




img {
    width: 567px;
    height: 378px;
    margin:50px auto;
    padding-top: 120px;
    padding-bottom: 10px;
    display: block;
}






/* Slider */

.wrapper {
    width:80%;
    height:100vh;
    background-color:floralwhite;
    margin:0 auto 30px;
    overflow:hidden;
}
				
.slider {
    margin: auto;
    width:90%;
    height: auto;
    overflow: hidden;
}

.slider li 	{
    width:100%;
    float:left;
}

.slider img {
    width:100%;
    height:auto;
}

.slider ul {
    list-style-type:none;
    width:200%;
    display:flex;
    padding: 0;
    animation:slider 5s infinite alternate;
}

@keyframes slider {
	
	0% 			{ margin-left:0;}
	20% 		{ margin-left:0;}
	
	30% 		{ margin-left:-100%;}
	50% 		{ margin-left:-100%;}
	
	60% 		{ margin-left:-200%;}
	80% 		{ margin-left:-200%;}
	
	90% 		{ margin-left:-300%;}
	100% 		{ margin-left:-300%;}
	
	}










#Formulario{
    margin-top: 10px;
}



#Mapa {
    margin-top: 20px;
    margin-left: auto;
    text-align: center;
}













/*----------Estilos del footer----------*/

.main-footer {
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}
.main-footer [class*="icon-"]::before {
    position: relative;
    top: 3px;
    right: 5px;
}

/*----------Estilos responsive----------*/

@media screen and (min-width:490px) {
    .logo {
        color: white;
    }
    .main-header__contactInfo {
        text-align: right;
    }
    .main-header__contactInfo__phone {
        background: none;
    }
    .main-header__contactInfo__address {
        color: white;
    }
    .main-nav {
        background: rgba(0, 0, 0, .70);
    }
    .banner {
        margin-top: -200px;
        z-index: -1000;
    }
    .banner__content {
        font-size: 2em;
    }
    .main-footer .container--flex {
        align-items: flex-start;
    }
    .main__about__description .column:nth-child(1) video {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .column--33 {
        width: 30%;
    }
}
@media screen and (min-width:850px) {
    .container {
        width: 800px;
    }
    .logo {
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone, .main-header__contactInfo__address {
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav {
        padding: 0;
    }
    .banner__img {
        height: 400px;
    }
    .banner__content {
        font-size: 2.5em;
    }
    .icon-menu {
        display: none;
    }
    .menu {
        position: static;
        display: flex;
        height: auto;
        width: auto;
    }
    .menu__link {
        padding: 20px;
    }
}
@media screen and (min-width:1040px) {
    .main-nav {
        padding: 20px;
    }
    .container {
        width: 1100px;
    }
    .main__about__description .column:nth-child(1) video {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .today-special__img {
        height: 300px;
    }
}

    










